* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-radius: 0.25rem;

    --netflix-white: rgb(255, 255, 255);
    --netflix-black: #000;
    --question-bg: rgba(45, 45, 45, 1);
    --netflix-red: rgb(229, 9, 20);
    --netflix-hover-red: rgb(193, 17, 25);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--netflix-black);
}

.loginScreen {
    position: relative;
    height: 87.5vh;
    background: url(../images/landing-bg.jpg) center no-repeat;
    background-size: cover;
}

.loginScreen_logo {
    position: absolute;
    left: 9rem;
    top: 1.25rem;
    width: 11rem;
    object-fit: contain;
    padding-left: 20px;
}

.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 87.5vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen_button {
    position: absolute;
    right: 10.5rem;
    top: 1.75rem;
    padding: 0.45rem 0.9rem;
    font-size: 0.875rem;
    color: var(--netflix-white);
    background-color: var(--netflix-red);
    border-radius: var(--primary-radius);
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.loginScreen_button:hover {
    background-color: var(--netflix-hover-red);
}

.language_change, .change_button_footer {
    position: absolute;
    right: 16.85rem;
    top: 1.75rem;
    padding: 0.3rem 0.8rem;
    word-spacing: 0.3rem;
    font-size: 1rem;
    color: var(--netflix-white);
    background-color: transparent;
    border-radius: var(--primary-radius);
    border: 1px solid gray;
    cursor: pointer;
    font-weight: 400;
}

.loginScreen_body {
    position: absolute;
    top: 36.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
    left: 0;
    right: 0;
}

.loginScreen_body > h1 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 0.8rem;
    letter-spacing: 0.1rem;
}

.loginScreen_body > h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.loginScreen_body > h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.loginScreen_input {
    margin-top: 1.35rem;
}

.loginScreen_input > form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.loginScreen_input > form > input {
    padding: 1.65rem 1rem;
    outline-width: 0;
    height: 30px;
    width: 27.5%;
    border: none;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid gray;
    border-radius: var(--primary-radius);
}

.loginScreen_input > form > input::placeholder {
    font-size: 1rem;
    color: lightgray;
}

.loginScreen_getStarted {
    padding: 0.85rem 1.25rem;
    font-size: 1.5rem;
    color: var(--netflix-white);
    background-color: var(--netflix-red);
    border-radius: var(--primary-radius);
    border: none;
    font-weight: 500;
    cursor: pointer;
}
